body {
    margin: 0;
    font-family: "Gerogia";
    background: #d8cfc0;
}

.titulo-catalogo {
    text-align: center;
    font-size: 48px;
    margin-top: 40px;
    color: #243141;
}

/* Barra buscadora */
.buscador {
    width: 60%;
    display: flex;
    margin: 25px auto;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 5px 15px;
}

.buscador input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 30px;
}

.subtitulo-catalogo {
    width: 60%;
    margin: auto;
    font-size: 26px;
    color: #243141;
}

/* Rango de precios */
.precios {
    width: 60%;
    margin: 10px auto 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.precio {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* Categorías */
.categorias {
    width: 60%;
    margin: 20px auto 10px;
    display: flex;
    gap: 25px;
}

.categorias a {
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 5px;
    transition: all 0.2s ease;
}

.categorias a:hover,
.categorias a:active {
    border-bottom: 2px solid #243141;
}

/* Separador */
.divider {
    width: 60%;
    border: none;
    border-bottom: 1px solid #243141;
    margin: auto;
}

/* Sección de autos */
.car-grid {
    width: 75%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.car-card {
    background: #243141;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

.car-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.car-info {
    padding: 15px;
}

.car-info h3 {
    margin: 0;
    font-size: 20px;
}

.car-link {
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.car-price {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}