.login-section {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 80vh;
}

.login-imagen {
    width: 100%;
    height: 100%;
}

.login-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-panel {
    background: var(--color-bg-main);
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-panel h1 {
    font-size: 52px;
    margin-bottom: 30px;
    color: var(--color-bg-footer);
}

.formulario-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 360px;
}

.formulario-login label,
.formulario-registro label {
    font-size: 16px;
    color: var(--color-bg-footer);
}

.formulario-login input,
.formulario-registro input {
    padding: 10px 12px;
    font-size: 15px;
    border-radius: 0;
    border: none;
    background: #e0e0e0;
}


.contenedor-botones-login {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.btn-form {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--color-bg-footer);
    color: var(--color-bg-footer);
    transition: 0.2s;
}

.btn-primario {
    background: var(--color-bg-footer);
    color: var(--color-white);
}

.btn-primario:hover {
    background: #1b2634;
    border-color: #1b2634;
}

.btn-secundario:hover {
    background: #e6e6e6;
}

.link-crear-cuenta {
    margin-top: 25px;
    font-size: 14px;
    color: var(--color-bg-footer);
    text-decoration: none;
}

.registro-section {
    background: var(--color-bg-main);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.registro-panel {
    padding: 60px 40px 80px 40px;
    max-width: 480px;
    width: 100%;
}

.registro-panel h1 {
    font-size: 52px;
    margin-bottom: 30px;
    color: var(--color-bg-footer);
}

.formulario-registro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedor-boton-registrar {
    margin-top: 20px;
}

.contenedor-boton-registrar .btn-form {
    width: 200px;
}

.texto-login {
    margin-top: 25px;
    font-size: 14px;
}

.texto-login a {
    color: var(--color-bg-header);
    text-decoration: none;
}

@media (max-width: 900px) {
    .login-section {
        grid-template-columns: 1fr;
    }

    .login-imagen {
        display: none;
    }

    .login-panel {
        padding: 40px 25px;
    }

    .registro-panel {
        padding: 40px 20px 60px 20px;
    }

    .registro-panel h1,
    .login-panel h1 {
        font-size: 36px;
    }
}


